body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(203, 93, 110);
  background: -moz-linear-gradient(
    315deg,
    rgba(203, 93, 110, 1) 0%,
    rgba(203, 93, 110, 1) 14%,
    rgba(165, 83, 181, 1) 82%
  );
  background: -webkit-linear-gradient(
    315deg,
    rgba(203, 93, 110, 1) 0%,
    rgba(203, 93, 110, 1) 14%,
    rgba(165, 83, 181, 1) 82%
  );
  background: linear-gradient(
    315deg,
    rgba(203, 93, 110, 1) 0%,
    rgba(203, 93, 110, 1) 14%,
    rgba(165, 83, 181, 1) 82%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cb5d6e",endColorstr="#a553b5",GradientType=1);
}

#start-button {
  width: 250px;
  height: 250px;

  font-size: 2em;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  cursor: pointer;
}

#game-area {
  position: relative;
}

#target {
  position: absolute;
  cursor: pointer;

  width: 50px;
  height: 50px;
}

#score-board {
  display: flex;
  flex-direction: column;
  justify-content: left;

  position: absolute;

  top: 15px;
  left: 15px;

  font-size: 1.5em;
  color: white;
}

#score-board input {
  background: none;
  border: none;

  color: white;

  font-size: 1em;
  padding-left: 10px;
  font-weight: bold;
}

.hide {
  display: none;
}

.display {
  display: block;
}
